<table border="1px">
    <tr>
        <td>Title :</td>
        <td>Description :</td>
    </tr>
    <tr>
        <td><%= @article.title %></td>
        <td><%= @article.description %></td>
    </tr>
</table>
<%= link_to :back , articles_path%>